---
import type { Project } from "../../types/types.ts";
import GitHub from "@/assets/brand-github.svg";
import Link from "@/assets/link.svg";
import ProjectButton from "./ProjectButton.astro";
const {title, description,  image, linkGit, linkDemo,tech} = Astro.props as Project;
---


<div class="bg-midnight-700 brightness-100 rounded-lg w-full">
    <div class=` bg-cover bg-center h-96 max-[1600px]:h-64 p-2 flex justify-end mx-2 mt-2` style={{backgroundImage:`url(${image})`}}>                  
     <div class="flex gap-3 flex-col">
    <ProjectButton title={"Git Repository"} link={linkGit} icon={GitHub}/>
    <ProjectButton title={"Link Demo"} link={linkDemo} icon={Link}/>
     </div>
    </div>
    <section class="px-4 pb-4">
        <h3 class="text-2xl text-center">{title}</h3>
    <p class="text-midnight-100">{description}</p>
    </section>
    <section class="flex gap-2 pb-2 px-4 items-center">
        <span class="mr-2 font-bold">Tech:</span>
        {tech.map((Item)=>(
                <Item class="size-1/12"/>
            ))}
    </section>
    
</div>