---
import {projects} from "../../data/Projects";
import ProjectComponent from "./ProjectComponent.astro";
import Subtitle from "../Subtitle.astro";
---

    <section>
    <Subtitle text="Projects"/>
    <div class="grid sm:grid-cols-2 xl:grid-cols-3 gap-4  p-2">
        {projects.map((item) => (
            <ProjectComponent 
                title={item.title}
                description={item.description}
                image={item.image}
                linkGit={item.linkGit}
                linkDemo={item.linkDemo}
                tech={item.tech}
            />
        ))}
    </div>
</section>