---
import {projects} from "../data/projects";
import ProjectComponent from "../components/ProjectComponent.astro";
import Subtitle from "./Subtitle.astro";
---

    <section>
    <Subtitle text="Projects"/>
    <div class="grid grid-cols-3 gap-4  p-2">
        {projects.map((item) => (
            <ProjectComponent 
                title={item.title}
                description={item.description}
                image={item.image}
                linkGit={item.linkGit}
                linkDemo={item.linkDemo}
            />
        ))}
    </div>
</section>